*{
    padding: 10;
    margin: 10;
    background-color: cyan;
}
table,th,td{
    border: 1px solid black;
    text-align: center;
}
th{
    background-color: bisque;

}
td{
    background-color:bisque;
}